apiVersion: v1
kind: Service
metadata:
  name: task-api-service
  namespace: task-api-prod
  labels:
    app: task-api
spec:
  type: LoadBalancer
  selector:
    app: task-api
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  sessionAffinity: ClientIP
  sessionAffinityConfig:
    clientIP:
      timeoutSeconds: 10800